<p>forgotpassword works!</p>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
<div class="formGroup">
    <input type ="email" class="formControl" placeholder="enter email" #email required>
</div>

<div class="formGroup">
    <input type ="button" class="btn btn-primary" value="next"  (click)="service.ForgotPass(email.value)"><br>
    </div>
    